# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code
.vscode/

# Ignore only the original dataset
Assignment_1/data/indic/

# Temporary files
sample_statistics.txt
Assignment_4/ngram_counts.db

